<%	if measure('pitest_mutations_total') and measure('pitest_mutations_total').value > 0 %>
<div class="widget">
  <div class="widget-row">
    <div class="widget-span widget-span-6">
      <div class="widget-measure-container">
        <div class="widget-measure widget-measure-main">
          <span class="widget-label"><%= metric('pitest_mutations_coverage').short_name -%></span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_coverage', 
              :url => url_for_drilldown('pitest_mutations_coverage')) -%>
            <%= trend_icon(measure('pitest_mutations_coverage')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label">Spotted Mutants</span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_total', 
              :url => url_for_drilldown('pitest_mutations_total')) -%>
            <%= trend_icon(measure('pitest_mutations_total')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label">Killed Mutants</span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_detected', 
              :url => url_for_drilldown('pitest_mutations_detected')) -%>
            <%= trend_icon(measure('pitest_mutations_detected')) -%>
          </span>
        </div>
      </div>
    </div>
    <div class="widget-span widget-span-6">
      <div class="widget-measure-container">
        <div class="widget-measure widget-measure-main">
          <span class="widget-label">Mutants killed by</span>
        </div>
        <div class="widget-measure">
          <span class="widget-label">Tests</span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_killed', 
              :url => url_for_drilldown('pitest_mutations_killed')) -%>
            <%= trend_icon(measure('pitest_mutations_killed')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label">MemErrors</span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_memoryError', 
              :url => url_for_drilldown('pitest_mutations_memoryError')) -%>
            <%= trend_icon(measure('pitest_mutations_memoryError')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label">TimeOuts</span>
          <span class="nowrap">
            <%= format_measure('pitest_mutations_timedOut', 
              :url => url_for_drilldown('pitest_mutations_timedOut')) -%>
            <%= trend_icon(measure('pitest_mutations_timedOut')) -%>
          </span>
        </div>
        <div class="widget-measure widget-measure-main">
          <span class="widget-label">Alive mutants</span>
        </div>
        <div class="widget-measure">
          <span class="widget-label" title="Survivors are covered but not killed by a test">Survivors</span>
          <span class="nowrap" title="Survivors are covered but not killed by a test">
            <%= format_measure('pitest_mutations_survived', 
              :url => url_for_drilldown('pitest_mutations_survived')) -%>
            <%= trend_icon(measure('pitest_mutations_survived')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label" title="Lurkers are not covered by a test">Lurkers</span>
          <span class="nowrap" title="Lurkers are not covered by a test">
            <%= format_measure('pitest_mutations_noCoverage', 
              :url => url_for_drilldown('pitest_mutations_noCoverage')) -%>
            <%= trend_icon(measure('pitest_mutations_noCoverage')) -%>
          </span>
        </div>
        <div class="widget-measure">
          <span class="widget-label" title="Status of the mutant is not determined">Unknown</span>
          <span class="nowrap" title="Status of the mutant is not determined">
            <%= format_measure('pitest_mutations_unknown', 
              :url => url_for_drilldown('pitest_mutations_unknown')) -%>
            <%= trend_icon(measure('pitest_mutations_unknown')) -%>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>  
<% end %>
